body {
  color: var(--theme-font);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cantarell', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Ubuntu', sans-serif;
}
